<aside class="sidebar"
  [class.expanded]="isExpanded">

  <!-- Logo -->
  <div class="d-flex align-items-center">
    <img class="rounded-circle"
      src="./assets/logos/formula1-logo.jpg"
      alt="logo do SanTomás"
      width="42">
    <h2 class="fs-2 text-white fw-semibold" style="margin-left: 23px;">
      Fórmula1
    </h2>
  </div>

  <!-- Menu -->
  <ul class="sidebar-links">

    <h4>
      <span>Main menu</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a class="d-flex align-items-center fw-medium text-nowrap gap-4 text-decoration-none px-3 py-3" style="color: #dbd4d4e3"
        routerLink=""
      >
        <fa-icon [icon]="['fas', 'chart-line']"></fa-icon>
        Dashboard
      </a>
    </li>
    <li>
      <a class="d-flex align-items-center fw-medium text-nowrap gap-4 text-decoration-none px-3 py-3" style="color: #dbd4d4e3"
        routerLink=""
      >
        <fa-icon [icon]="['fas', 'home']"></fa-icon>
        Overview
      </a>
    </li>

    <h4>
      <span>General</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a class="d-flex align-items-center fw-medium text-nowrap gap-4 text-decoration-none px-3 py-3" style="color: #dbd4d4e3"
        routerLink=""
      >
       <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        Notifications
      </a>
    </li>

    <h4>
      <span>Account</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a class="d-flex align-items-center fw-medium text-nowrap gap-4 text-decoration-none px-3 py-3" style="color: #dbd4d4e3"
        routerLink=""
      >
        <fa-icon [icon]="['fas', 'user']"></fa-icon>
        Profile
      </a>
    </li>
    <li>
      <a class="d-flex align-items-center fw-medium text-nowrap gap-4 text-decoration-none px-3 py-3" style="color: #dbd4d4e3"
        routerLink=""
      >
        <fa-icon [icon]="['fas', 'gear']"></fa-icon>
        Settings
      </a>
    </li>

    <!-- User area -->
    <div class="user-account">
      <div class="user-profile">
        <img src="./assets/logos/formula1-logo.jpg" alt="Imagem de perfil">
        <div class="user-detail">
          <h3>Nome</h3>
          <span>Developer</span>
        </div>
      </div>
    </div>

  </ul>

</aside>
