<aside class="sidebar">

  <div class="sidebar-header">
    <img src="./assets/logos/formula1-logo.jpg" alt="logo do SanTomás">
    <h2>Fórmula1</h2>
  </div>

  <ul class="sidebar-links">

    <h4>
      <span>Main menu</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a routerLink="">
        <fa-icon [icon]="['fas', 'chart-line']"></fa-icon>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="">
        <fa-icon [icon]="['fas', 'home']"></fa-icon>
        Overview
      </a>
    </li>

    <h4>
      <span>General</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a routerLink="">
       <fa-icon [icon]="['fas', 'bell']" class="text-danger"></fa-icon>
        Notifications
      </a>
    </li>

    <h4>
      <span>Account</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a routerLink="">
        <fa-icon [icon]="['fas', 'user']"></fa-icon>
        Profile
      </a>
    </li>
    <li>
      <a routerLink="">
        <fa-icon [icon]="['fas', 'gear']"></fa-icon>
        Settings
      </a>
    </li>

    <div class="user-account">
      <div class="user-profile">
        <img src="./assets/logos/formula1-logo.jpg" alt="Imagem de perfil">
        <div class="user-detail">
          <h3>Nome</h3>
          <span>Developer</span>
        </div>
      </div>
    </div>

  </ul>

</aside>
